<mat-list>
  <h3 mat-subheader>Project</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <span mat-line>Main Page</span>
    <span mat-line mat-subheader>View all your projects</span>
  </mat-list-item>
  <h3 mat-subheader>Calender</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>calendar_today</mat-icon>
    <span mat-line>Main Page</span>
    <span mat-line mat-subheader>View all your calendars</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>calendar_view_day</mat-icon>
    <span mat-line>Month View</span>
    <span mat-line mat-subheader>View all your calendars by month</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>view_week</mat-icon>
    <span mat-line>Week View</span>
    <span mat-line mat-subheader>View all your calendars by month</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>today</mat-icon>
    <span mat-line>Day View</span>
    <span mat-line mat-subheader>View all your calendars by month</span>
  </mat-list-item>
</mat-list>
